

<%= form_for @note do |f| %>

  <ul>
  <% @note.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>

  <%= f.label "Written by: " %>
  <%= f.text_field :student_name %>

  <%= f.label "Link:" %>
  <%= f.text_field :note_links %>

  <%= f.label "Student's e-mail': " %>
  <%= f.text_field :student_info %>

  <%= f.label "Lesson day: " %>
  <%= f.select :lesson_day_id do %>
  <% LessonDay.all.each do |p| %>
    <%= content_tag(:option, "#{p.date}: #{p.subject} - #{p.teacher}",
    value: p.id) %>
  <% end %>
<% end %>

<%= f.label "Topic: " %>
<%= f.text_field :note_topic %>

<%= f.label "Note:" %>
<%= f.text_area :note_text, cols: "30", rows: "10" %>

<%= f.label "Code:" %>
<%= f.text_area :note_code, cols: "30", rows: "10" %>

<%= f.label "Teacher's note: " if !(@note.new_record?)%>
<%= f.text_area :teacher_note, cols: "30", rows: "10" if !(@note.new_record?)%>

  <%= f.submit (@note.new_record? ? "Create" : "Update") %>
<% end %>
