<div id="flex-container">

  <section class="flex-item">
    <h2>Week 1</h2>
    <% @lessondays.each do |day| %>
      <% if day.course_week == 1 %>
      <h3><%= link_to day.subject, lesson_day_path(day.id)%></h3>
      <p><%= day.date.strftime("%A %e %B %Y") %><br>
      Teacher: <%= day.teacher%></em></p>
    <% end %>
    <% end %>
  </section>


  <section class="flex-item">
    <h2>Week 2</h2>
    <% @lessondays.each do |day| %>
      <% if day.course_week == 2 %>
      <h3><%= link_to day.subject, lesson_day_path(day.id)%></h3>
      <p><%= day.date.strftime("%A %e %B %Y") %><br>
      Teacher: <%= day.teacher%></em></p>
    <% end %>
    <% end %>
  </section>

  <section class="flex-item">
    <h2>Week 3</h2>
    <% @lessondays.each do |day| %>
      <% if day.course_week == 2 %>
      <h3><%= link_to day.subject, lesson_day_path(day.id)%></h3>
      <p><%= day.date.strftime("%A %e %B %Y") %><br>
      Teacher: <%= day.teacher%></em></p>
    <% end %>
    <% end %>
  </section>

  <section>
    <h2>Week 4</h2>
    <% @lessondays.each do |day| %>
      <% if day.course_week == 4 %>
      <h3><%= link_to day.subject, lesson_day_path(day.id)%></h3>
      <p><%= day.date.strftime("%A %e %B %Y") %><br>
      Teacher: <%= day.teacher%></em></p>
    <% end %>
    <% end %>
  </section>

  <section>
    <h2>Week 5</h2>
    <% @lessondays.each do |day| %>
      <% if day.course_week == 5 %>
      <h3><%= link_to day.subject, lesson_day_path(day.id)%></h3>
      <p><%= day.date.strftime("%A %e %B %Y") %><br>
      Teacher: <%= day.teacher%></em></p>
    <% end %>
    <% end %>
  </section>

  <section>
    <h2>Week 6</h2>
    <% @lessondays.each do |day| %>
      <% if day.course_week == 6 %>
      <h3><%= link_to day.subject, lesson_day_path(day.id)%></h3>
      <p><%= day.date.strftime("%A %e %B %Y") %><br>
      Teacher: <%= day.teacher%></em></p>
    <% end %>
    <% end %>
  </section>

  <section>
    <h2>Week 7</h2>
    <% @lessondays.each do |day| %>
      <% if day.course_week == 7 %>
      <h3><%= link_to day.subject, lesson_day_path(day.id)%></h3>
      <p><%= day.date.strftime("%A %e %B %Y") %><br>
      Teacher: <%= day.teacher%></em></p>
    <% end %>
    <% end %>
  </section>

  <section>
    <h2>Week 8</h2>
    <% @lessondays.each do |day| %>
      <% if day.course_week == 8 %>
      <h3><%= link_to day.subject, lesson_day_path(day.id)%></h3>
      <p><%= day.date.strftime("%A %e %B %Y") %><br>
      Teacher: <%= day.teacher%></em></p>
    <% end %>
    <% end %>
  </section>

</div>
