<!DOCTYPE html>
<html>
  <head>
    <title>NotesApp</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all',
    'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
    'data-turbolinks-track': 'reload' %>
    </style>
  </head>

  <body>

    <header>
      <%= image_tag "whiteface.png" , :class => "face_logo" %>
        <p class= "power_text"> _powered by Codaisseur </p>
      <%= link_to image_tag("whitelogo.png", :alt => "Logo", :class => "main_logo"), root_path %>

    </header>

    <div id="main_container">
      <%= yield %>
    </div>

    <footer>
      <p>Made with &#9825;
        by Maja, Robert Jan, Stefan and Tim
      </p>
    </footer>

  </body>
</html>
